.wrapper_popup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  overflow-y: hidden;

  border-radius: 1.2rem;
}
.leftCont {
  max-width: 5%;
}
.mid {
  width: 90%;
  max-height: 83vh;
  border-radius: 1.2rem;
}
.rightIcon {
  max-width: 5%;
}
button {
  outline: none;
  background-color: #cd49c296;
  border: none;
  border-radius: 1.2rem;
  width: 7rem;
}
