.wrapper_popup {
  /* display: flex; */
  /* flex-direction: row;
  align-items: center;
  justify-content: space-between; */
  overflow-y: hidden;
  position: relative;
  border-radius: 1.2rem;
}
.leftCont {
  position: absolute;
  top: 37vh;
  max-width: 5%;
}
.mid {
  width: 100%;
  max-height: 88vh;
  border-radius: 1.2rem;
}
.bottom {
  position: absolute;
  bottom: -1vh;
  right: 37vw;
}
.rightIcon {
  position: absolute;
  top: 37vh;
  right: 0vw;
  max-width: 5%;
}
button {
  outline: none;
  background-color: #1a1a1a96;
  border: none;
  border-radius: 1.2rem;
  width: 7rem;
}
